.wrapper {
  top: 0;
  z-index: 1;
  background-color: var(--white-color);
}
.navbar {
  padding: 30px 0;
}
.navbar .container div:first-child > div:nth-child(3) > ul {
  gap: 20px;
}
.navbar .container div:first-child > div:nth-child(3) > ul > li {
  transition: transform 0.3s ease;
}
.navbar
  .container
  div:first-child
  > div:nth-child(3)
  > ul
  > li:not(:last-child):hover {
  transform: translateY(-5px);
}
.navbar .container div:first-child > div:nth-child(3) > ul > li:last-child {
  display: none;
}
/*hero section*/
.hero-section-wrapper {
  background-color: hsla(0, 0%, 100%, 0.5);
  background-image: url("../assets/Img/bg22.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 680px;
  padding: 100px 0px;
}
.hero-section-wrapper .container > div:first-child > div:first-child {
  padding-top: 100px;
}

.hero-section-wrapper h1 {
  margin-bottom: 1rem;
}

.hero-section-wrapper h5 {
  color: var(--text-color);
  line-height: 1.5;
  margin-bottom: clamp(0.75rem, 4vw, 1.75rem);
  padding-right: 10rem;
}
.hero-section-wrapper .container figure img {
  max-width: 100%;
  height: auto;
  min-width: 400px;
}
