@media (min-width: 1480px) {
  .hero-section-wrapper {
    border-radius: 1rem;
    max-width: 1470px;
    margin: 0 auto;
    margin-top: 20px;
  }
}
@media (max-width: 1200px) {
  .hero-section-wrapper h3 {
    padding-right: 4rem;
  }
  /*hero-section*/
  .hero-section-wrapper .container > div:first-child > div:first-child {
    padding-top: 30px;
  }
  .btn {
    padding: 16px 24px;
  }
  /*Content*/
  .content-wrapper .container > div:nth-child(2) > div {
    max-width: 32%;
  }
  /*banner*/
  .banner-wrapper {
    padding-top: 80px;
  }
  /*banner-2*/
  .banner-2-wrapper .container > div:first-child > div:first-child {
    margin-top: 20px;
  }
  .banner-2-wrapper
    .container
    div:first-child
    > div:nth-child(2)
    > div:nth-child(2) {
    padding: 15px;
  }
  .banner-2-wrapper
    .container
    div:first-child
    > div:nth-child(2)
    > div:nth-child(3) {
    padding: 20px;
  }
  .banner-2-wrapper
    .container
    div:first-child
    > div:nth-child(2)
    > div:nth-child(3)
    > div:first-child
    svg {
    width: 9rem !important;
  }
  /*achievements*/
  .achievements-wrapper .container > div:nth-child(2) > div {
    max-width: 22.5%;
  }
  .achievements-wrapper .container > div:nth-child(2) > div {
    padding: 30px;
  }
  /*Case Studies*/

  .case-studies-wrapper {
    padding-top: 17rem;
  }
  .overlay {
    height: 59%;
  }
  .circle-bullet {
    width: 6.5rem;
  }
}
@media (max-width: 993px) {
  .navbar .container div:first-child > div:nth-child(3) > ul > li:last-child {
    display: initial;
  }
  .navbar .container div:first-child > div:nth-child(2) {
    display: none;
  }

  /*hero section*/
  .hero-section-wrapper .container div:first-child {
    flex-direction: column;
    text-align: center;
    padding: 50px 0px;
  }
  .hero-section-wrapper .container figure img {
    max-width: 80%;
  }
  .hero-section-wrapper .container figure img {
    margin-bottom: -9rem;
  }
  .btn {
    padding: 15px 22px;
  }
  .hero-section-wrapper h3 {
    padding-right: 0;
  }
  .hero-section-wrapper .container div:first-child > div:nth-child(2) {
    padding-top: 20px;
    display: flex;
    justify-content: center;
  }
  /*Banner-Section*/
  /*banner-1*/
  .banner-wrapper {
    padding-top: 70px;
  }
  .banner-wrapper .container > div:first-child > div {
    margin-left: 4%;
  }
  /*banner-2*/
  .banner-2-wrapper {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .banner-2-wrapper .container > div:first-child {
    flex-direction: column;
    text-align: center;
  }
  .banner-2-wrapper
    .container
    > div:first-child
    > div:first-child
    > div:first-child
    > div:nth-child(4)
    ul {
    align-items: center;
    white-space: nowrap;
  }
  .banner-2-wrapper
    .container
    > div:first-child
    > div:first-child
    > div:first-child {
    padding-right: 0;
  }
  .banner-2-wrapper .container > div:first-child > div:first-child p {
    margin-right: 0;
  }
  .banner-2-wrapper .container > div:first-child > div:nth-child(2) {
    margin-left: 0;
    padding-top: 20px;
  }
  .banner-2-wrapper
    .container
    div:first-child
    > div:nth-child(2)
    > div:nth-child(2) {
    left: 3%;
  }
  .banner-2-wrapper
    .container
    div:first-child
    > div:nth-child(2)
    > div:nth-child(3) {
    left: 0%;
  }
  .banner-2-wrapper
    .container
    div:first-child
    > div:nth-child(2)
    > div:nth-child(3)
    > div:first-child
    svg {
    width: 8rem !important;
  }
  /*achievement*/
  .achievements-wrapper .container > div:first-child {
    flex-direction: column;
    text-align: center;
  }
  .achievements-wrapper .container > div:first-child > div:first-child {
    padding-right: 0;
  }
  .achievements-wrapper
    .container
    > div:first-child
    > div:first-child
    > div:first-child {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .achievements-wrapper .container > div:nth-child(2) > div {
    max-width: 40%;
  }
  .achievements-wrapper .container > div:nth-child(2) {
    justify-content: center;
  }
  .achievements-wrapper .container > div:first-child {
    padding: 60px 0px;
  }
  /*Case Studies*/

  .case-studies-wrapper {
    padding-top: 14rem;
  }
  .overlay {
    height: 54%;
  }
  /*our mission*/
  .our-mission-wrapper .container > div:first-child {
    flex-direction: column;
  }
  .our-mission-wrapper .container > div:first-child > div:nth-child(2) {
    padding-top: 50px;
  }
  .our-mission-wrapper .container > div:first-child > div:nth-child(2) h6,
  .our-mission-wrapper .container > div:first-child > div:nth-child(2) h2,
  .our-mission-wrapper .container > div:first-child > div:nth-child(2) p {
    text-align: center;
  }

  .our-mission-wrapper {
    padding-top: 60px;
  }

  .circle-bullet {
    width: 8.5rem;
  }
  .our-mission-wrapper .container > div:nth-child(2) p {
    padding-right: 20px;
  }
}

@media (max-width: 768px) {
  /*hero-section*/
  .hero-section-wrapper .container > div:first-child {
    padding: 50px 0px;
  }
  .btn {
    padding: 12px 20px;
  }
  .hero-section-wrapper .container figure img {
    margin-bottom: -5rem;
  }
  /*content*/
  .content-wrapper {
    padding-top: 100px;
  }
  .content-wrapper .container > div:nth-child(2) > div {
    max-width: 45%;
  }
  /*Banner*/
  /*banner-1*/
  .banner-wrapper > div:first-child > div:first-child figure img {
    max-width: 80%;
  }
  .banner-wrapper .container > div:first-child > div {
    width: 100%;
    margin-left: 0;
  }
  .banner-wrapper .container > div:first-child {
    flex-direction: column;
  }
  .banner-wrapper .container > div:first-child > div:nth-child(2) h6,
  .banner-wrapper .container > div:first-child > div:nth-child(2) h2,
  .banner-wrapper .container > div:first-child > div:nth-child(2) p {
    text-align: center;
  }
  .banner-wrapper {
    padding-top: 50px;
  }
  .banner-2-wrapper
    .container
    div:first-child
    > div:nth-child(2)
    > div:nth-child(3) {
    left: -2%;
  }
  .banner-2-wrapper
    .container
    div:first-child
    > div:nth-child(2)
    > div:nth-child(2) {
    left: -2%;
  }
  .banner-2-wrapper .container > div:first-child > div:nth-child(2) {
    margin-left: 3%;
  }
  .banner-2-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .achievements-wrapper .container > div:nth-child(2) > div {
    max-width: 47%;
  }
  .achievements-wrapper .container > div:nth-child(2) {
    row-gap: 130px;
  }
  /*Case Studies*/

  .case-studies-wrapper {
    padding-top: 11rem;
  }
  .overlay {
    height: 58%;
  }
  /*our mission*/
  .our-mission-wrapper {
    padding-top: 50px;
  }
  .our-mission-wrapper .container > div:nth-child(2) {
    padding: 50px 0;
  }
  .our-mission-wrapper .container > div:nth-child(2) {
    flex-direction: column;
  }
  .circle-bullet {
    width: 2.5rem;
    height: 2rem;
  }
}
@media (max-width: 424.9px) {
  /*hero-section*/
  .hero-section-wrapper .container > div:first-child {
    padding: 25px 0px;
  }
  .hero-section-wrapper .container div:first-child {
    padding: 25px 0px;
  }
  .hero-section-wrapper .container figure img {
    margin-bottom: -3rem;
  }
  /*Content*/
  .content-wrapper {
    padding-top: 60px;
  }
  .content-wrapper .container > div:nth-child(2) > div {
    max-width: 100%;
  }
  /*Banner*/
  .banner-wrapper {
    padding-top: 40px;
  }
  /*banner-2*/
  .banner-2-wrapper {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .banner-2-wrapper
    .container
    div:first-child
    > div:nth-child(2)
    > div:nth-child(3)
    > div:first-child
    svg {
    width: 7rem !important;
  }
  .banner-2-wrapper
    .container
    div:first-child
    > div:nth-child(2)
    > div:nth-child(3)
    > div:first-child {
    margin-bottom: 5px;
  }
  .banner-2-wrapper
    .container
    div:first-child
    > div:nth-child(2)
    > div:nth-child(3) {
    padding: 10px;
  }
  .banner-2-wrapper .container > div:first-child > div:nth-child(2) {
    margin-left: 15%;
  }
  .banner-2-wrapper
    .container
    div:first-child
    > div:nth-child(2)
    > div:nth-child(3) {
    left: -13%;
  }
  .banner-2-wrapper
    .container
    div:first-child
    > div:nth-child(2)
    > div:nth-child(2) {
    left: -18%;
  }
  .banner-2-wrapper
    .container
    div:first-child
    > div:nth-child(2)
    > div:nth-child(2) {
    padding: 10px;
  }
  .progress-text::after {
    font-size: 12px;
  }
  /*achievements*/
  .achievements-wrapper .container > div:nth-child(2) > div {
    max-width: 80%;
    text-align: center;
  }
  .achievements-wrapper .container > div:nth-child(2) {
    row-gap: 70px;
  }
  .achievements-wrapper .container > div:first-child {
    padding: 40px 0px;
  }
  /*Case Studies*/

  .case-studies-wrapper {
    padding-top: 7rem;
  }
  .overlay {
    height: 63%;
  }
  /*our Mission*/
  .our-mission-wrapper .container > div:first-child > div:nth-child(2) {
    padding-top: 30px;
  }
  .our-mission-wrapper
    .container
    > div:first-child
    > div:nth-child(2)
    > div:first-child
    > div:nth-child(4) {
    flex-direction: column;
  }
  ul li svg {
    width: 1rem;
    height: 2rem;
  }
  .our-mission-wrapper {
    padding-top: 40px;
  }
  .circle-bullet {
    width: 2.5rem;
    height: 1.5rem;
  }
  .our-mission-wrapper .container > div:nth-child(2) {
    padding: 40px 0;
  }
}
